.video-block {
  width: 765px;
  height: 430px;
  overflow: hidden;

  @include _1370 {
    margin: 0 auto;
  }

  @include _992 {
    width: 100%;
    height: 20%;
  }
}

/*

.video-block iframe {
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

*/

.video-block img {
  display: block;
  width: 100%;
  height: auto;
}
