@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light0.woff2") format("woff2");
  src: url("../fonts/OpenSans-Light0.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold0.woff2") format("woff2");
  src: url("../fonts/OpenSans-Bold0.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/BKANT.woff2") format("woff2");
  src: url("../fonts/BKANT.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/ANTQUAI.woff2") format("woff2");
  src: url("../fonts/ANTQUAI.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/ANTQUABI.woff2") format("woff2");
  src: url("../fonts/ANTQUABI.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/ANTQUAB.woff2") format("woff2");
  src: url("../fonts/ANTQUAB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
